.idea
build
.gradle
buildPlugin/build
sqlitebindings/build
sqlitebindings-api/build
jnigenerator/build
konan-warmup/build
#ignore core dump files
sqlitebindings/core
sqlitebindings/hs_err_pid*
ksqlite3/core
ksqlite3/hs_err_pid*
ksqlite3/build
.DS_Store
**/*.iml
local.properties
