name: Run Integration Tests
on:
  workflow_run:
    workflows: ["Build Test Apks"]
    types: [completed]

jobs:
  run_integration_tests:
    runs-on: ubuntu-latest
    if: ${{ !github.event.repository.fork && github.event.workflow_run.conclusion == 'success' }}
    name: Run integration tests on FTL
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'
      - name: "set output directory"
        run: |
          echo "::set-output name=output-dir::$(readlink -f .)/outputs"
          echo "::set-output name=ftl-logs::$(readlink -f .)/ftl-log.txt"
        id: dirs
      - id: run_tests
        uses: yigit/androidx-ci-action@dist-v0.08-2
        with:
          target-run-id: ${{ github.event.workflow_run.id }}
          gcp-token: ${{ secrets.GCP_SA_KEY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-folder: ${{ steps.dirs.outputs.output-dir }}
          device-specs: "oriole:31, redfin:30, sailfish:25, Nexus10:19, Nexus4:21, Nexus5:23, Nexus6P:27"
          log-file: ${{ steps.dirs.outputs.ftl-logs }}
          artifact-name-filter-regex: ".*apk.*"
          gcp-bucket-name: "ftl-test-artifacts"
          gcp-bucket-path: "github-ci"
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: outputs
          path: ${{ steps.dirs.outputs.output-dir }}
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: logs
          path: ${{ steps.dirs.outputs.ftl-logs }}
